* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 40px;
}

input {
  font-size: 1.2 rem;
  width: 100%;
  color: gray;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 1px solid gray;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
  max-height: 195px;
}

.card p {
  padding: 1px;
  text-align: center;
}

.card img{
  max-height: 200px;
}